/*trying this out*/
html,
body,
.page {
  height: 100vh; /* needed for proper layout */
  margin: 0px;
  overflow-x: hidden !important;
}

body {
  overflow-y: hidden;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: #F7FFF7;
}

#mushroom-style{
  color: black;
}

#mushroom-style:hover{
  font-weight: 600;
  cursor: pointer;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  font-weight: 600;
  cursor: pointer;
}

.header {
  flex: 0 0 auto;
  height:40px;
}

.page-content {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.footer {
  flex: 0 0 auto;
}

.footer a{
  color:white;
}

.footer a:visited{
color:white;
}

/*trying this out*/

/*old header*/
.header, .footer{
  display:flex;
  justify-content: center;
  height:50px;
  background-color: #122C34;
  color: white;
  font-family: 'Voces', sans-serif;
}

.footer{
  height:50px;
}

/*for colors checkout #21 at https://blog.visme.co/website-color-schemes/*/

p{
  font-family: 'Assistant', sans-serif;
}

.headerItem{
  height:100%;
  padding-right: 5%;
  padding-left: 5%;
  margin-top: -20px;
  font-size: 1.3em;
}

.footerItem{
  padding-right: 4%;
  padding-left: 4%;
  font-size: 1.1em;
  padding-top: 2px;
  text-align: center;

}

.linkText{
  font-family: 'Voces', sans-serif;
  font-size: 0.7em;
  text-align: center;
  font-weight: 400;
}

.footerItem:hover:not(.fas){
  font-weight: 400;
}

/* #homeHeader{
  /* padding-left:20px;
  padding-right: 2px; */
} */

.header-text{
  font-family: 'Voces', sans-serif;
  padding:10px;
}

.header-text:hover{
  text-decoration: underline;
  cursor: pointer;
}

/*page info*/

.headline{
  font-size: 1.1em;
}

.pageInfo{
display:flex;
justify-content: space-between;
transition: 1s;
background-color: #F7FFF7;
color:#484848;
}

.headlineImageDiv{
  width:30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  margin: auto;
  right: 0;
  text-align: center;
  top: 0;
}

.headlineImage{
  padding:8px;
  border-radius: 100%;
  max-width:200px;
  max-height:200px;
}

.speech-bubble {
  position: relative;
  background: #7EDAD4;
  border-radius: .4em;
  padding: 10px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: black;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}

.headlineDescDiv{
  padding: 8px;
}

/*content below*/

.homePageSplit{
display:flex;
justify-content: space-between;
background-color: #F7FFF7;
}

.music, .code{
  width:50%;
  text-align: center;
position: relative;
padding-bottom: 5%;
}

/*.swiper-slide{
  position:relative;
}*/

.musicItem, .codeItem{
  display:flex;
  width:50vw;
  color: #484848;
}

.musicItem:hover, .codeItem:hover{
background-color: #E1E8E1;
transition: .6s;
}

.musicItems, .codeItems{
  display: flex;
  flex-wrap: wrap;
}

.musicPic, .codePic{
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom:1%;
}

/*.musicDesc h3:hover, .codeDesc h3:hover{
  text-decoration: underline;
}*/

.link:hover{
  text-decoration: underline;
}

.link{
  color:#484848 !important;
}

.musicDesc a, .codeDesc a{
  color:black;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
}

.musicDesc, .codeDesc{
  padding-left: 8%;
}

.demoImage{
  min-width: 180px;
  width:150px;
  padding:10px;
}

.info-wrapper{
 display: block;
 overflow: auto;
}

.pageInfo{
  height: auto;
}

.home-icon{
  font-size: 6em;
  background-color: #7EDAD4;
  padding:10%;
}

#codeIcon, #musicIcon{
}

.home-icon:hover{
  transform: scale(1.15);
  transition: .6s;
}

@media screen and (max-width: 660px){
/*  .headlineImageDiv{
    width:100%;
  }

  .headlineDescDiv{
    width:100%;
  }*/

  .pageInfo{
    display:inline;
  }

  .headlineImage{
  border-radius: 100%;
  }

  .speech-bubble {
  position: relative;
  border-radius: .4em;
  }

  .speech-bubble:after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom-color: #00aabb;
  border-top: 0;
  border-left: 0;
 /* margin-left: -10px;*/
  margin-top: -20px;
  }
}

@media screen and (max-width: 450px){
    .headlineImage{
    border-radius: 100%;
  }
  html,body{
    overflow-x: hidden !important;
  }
}

@media screen and (max-width: 850px){
  .musicItem, .codeItem, .musicItem:last-child, .codeItem:last-child {
    display:flex;
    justify-content: space-between;
    width:100vw;
    border-right: 0px;
  }
  html,body{
    overflow-x: visible !important;
  }
}
}
