body{
  height:100vh;
}

.header, .footer{
  display:flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height:15vh;
}

.header, .pageInfo{
  border-bottom: 2px solid black;
}

.footer{
  border-top: 2px solid black;
}

.slackey{
  font-family: 'Nova Slim', cursive;
  font-size: 2em;
}

.nova{
  font-family: 'Baloo Paaji', cursive;
  font-size: 2em;
}

.headline{
  font-size: 1.3em;
}

#music,#home,#code{
  width:20%;
}

.pageInfo{
display:flex;
justify-content: space-between;
overflow:scroll;
height:25vh;
}

.headlineImageDiv{
  width:40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headlineDescDiv{
  width:60vw
}

.headlineImage{
  border-radius: 100%;
  width:100%;
  margin: 0 auto;
  max-width:40%;
}

.homePageSplit{
display:flex;
justify-content: space-between;
height:45vh;
}

.musicItems{
  height: 45vh;
  overflow: scroll;
}

.music, .code{
  width:50%;
  text-align: center;
}

.music{
  border-right: 2px solid black;
}

.swiper-slide{
  position:relative;
}

.musicItem{
  display:flex;
  justify-content: space-between;
  border: 1px solid purple;
  overflow: auto;
}

.musicItems{
  max-height: 100%;
}

.musicPic{padding-right: 10%;}
.musicDesc{padding-left: 10%;}

.musicImage{
  width:150px;
}

#musicIcon:hover, #codeIcon:hover{
background-color: red;
transition: .8s;
}

#musicHead{
  display:none;
}

#homeHead{
  display:inline;
}


