/* global */

html,
body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 1), rgb(181, 201, 226));
  font-family: 'Voces', sans-serif;
}

.homepageBlurb p {
  margin: 5px;
}

a {
  color: black;
  text-decoration: underline;
}


.itemLink:hover {
  text-decoration: underline;
}

.itemLink {
  color: #484848;
}

.inlineLink:hover {
  text-decoration: underline;
}


a:hover {
  font-weight: 600;
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

/* header */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #122C34;
  color: white;
  width: 100vw;
}

.headerItem {
  padding-right: 5%;
  padding-left: 5%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 100px;
  font-weight: 600;
}

.header-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header-text {
  white-space: nowrap;
}

/* landing */

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.arrow {
  margin-right: 30px;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.arrow:hover {
  cursor: pointer;
}

.leftPaddingLanding {
  margin-left: 30px;
  width: 50px;
}

.landingContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  text-align: center;
}

.blurbLarge {
  font-size: 32px;
}

.homepageBlurb {
  margin: 0px 50px;
  max-width: 55%;
}

.headlineImage {
  border-radius: 100%;
  max-width: 200px;
  max-height: 200px;
  margin-top: 15px;
}

.icons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.iconLink {
  font-weight: 800;
  text-decoration: none;
}

.iconLink:hover {
  color: #FF6B6B;
}

@keyframes arrow {
  0% {
    transform: translateX(0px)
  }

  10% {
    transform: translateX(0px)
  }

  100% {
    transform: translateX(20px)
  }
}

/* code and music items */

.music,
.code {
  width: 50%;
  text-align: center;
  position: relative;
  padding-bottom: 5%;
}

.musicItem {
  display: flex;
  flex-direction: column;
  width: 50vw;
  color: #484848;
  justify-content: space-between;
}

.musicItem h2 {
  padding-left: 20px;
}

.musicDesc {
  padding-left: 20px;
}

/* .musicItem p{
  float: left;
} */

.codeItem {
  display: flex;
  width: 80vw;
  color: #484848;
}

/* .musicItem:hover, .codeItem:hover{
  background-color: #E1E8E1;
  transition: .6s;
  } */

.codeItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.musicItems {
  display: flex;
  flex-wrap: wrap;
}

.musicPic,
.codePic {
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom: 1%;
}






/*for colors checkout #21 at https://blog.visme.co/website-color-schemes/*/

.musicItem a,
.codeDesc a {
  color: black;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
}

/* .musicItem{
  display: flex;
  width: 50vw;
  color: #484848;
  justify-content: space-between;
} */

.demoImage {
  height: 200px;
  width: 200px;
}

.musicItems .demoImage {
  float: right;
  padding-left: 20px;
}


/* mobile specifics */

/* @media screen and (max-width: 450px){
  .headlineImage{
  border-radius: 100%;
}
html,body{
  overflow-x: hidden;
}
} */

@media screen and (max-width: 850px) {

  /* .musicItem, .codeItem, .musicItem:last-child, .codeItem:last-child {
  display:flex;
  justify-content: space-between;
  width:95vw;
  border-right: 0px;
} */
  .musicItems,
  .codeItems {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .musicPic,
  .codePic {
    margin-top: 15px;
    padding: 0;
  }

  .musicItem,
  .codeItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  html,
  body {
    overflow-x: visible;
  }

  .headerItem {
    font-size: 16px;
    font-weight: 400;
  }

  .landing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    padding-top: 10px;
  }

  .homepageBlurb {
    max-width: 100%;
    font-size: 16px;
  }

  .blurbLarge {
    font-size: 24px;
  }

  .musicItem {
    width: 100%;
  }

  .musicDesc {
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-left: 20px;
    width: 100%;
  }

  .musicDesc p {
    padding: 0 20px;
  }

  .demoImage {
    width: 150px;
    height: 150px;
  }

  .musicItems h2 {
    padding-right: 20px;
  }

  /* .musicPic{
  width: 48%;
} */
}